<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu *ngIf="showMenu" contentId="main-content">
      <ion-content class="sidebar-content">
        <ion-toolbar class="sidebar-topbar">
          <div class="menu-brand">
            <div class="menu-avatar">IV</div>
            <div class="menu-brand-text">
              <h1>Issue Voucher</h1>
              <p>issuevoucher@gmail.com</p>
            </div>
          </div>
        </ion-toolbar>

        <!-- <ion-list id="inbox-list">
          <ion-list-header>Inspire</ion-list-header>
          <ion-note>Inspire2421@admin.com</ion-note>

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list> -->

        <ion-list id="labels-list">
          @for (label of labels; track label) {
            <ion-item lines="none">
              <ion-icon
                aria-hidden="true"
                slot="start"
                ios="bookmark-outline"
                md="bookmark-sharp"
              ></ion-icon>
              <ion-label>{{ label }}</ion-label>
            </ion-item>
          }
        </ion-list>
        <!-- Put this just before </ion-content> -->

        <div class="logout-wrapper">
          <ion-button expand="block" class="logout-btn" (click)="logout()">
            Logout
          </ion-button>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
